.map-modal-dialog {
	margin: auto;
	max-width: 100%;
	padding: 4px;
}

.modal-content {
	height: 100%;
	border-radius: 8px;
}

.map-modal-header {
	display: flex;
	justify-content: space-between;
	position: relative;
	background-color: #f8f9fa;

	.map-modal-title {
		font-size: 24px;
		font-weight: bold;
	}

	.close {
		font-size: 30px;
		color: #000;
		background: none;
		border: none;
		cursor: pointer;

		&:hover {
			color: #ff0000;
		}
	}
}

.map-modal-body {
	padding: 0;
	height: 100%;
}

.mapboxgl-control-container {
	display: none !important;
}

.mapboxgl-canvas {
	width: 100%;
	height: 90vh;
}