.sold-products-table {
    thead {
        border-width: 0;

        th {
            border: 0px;
            color: #99abb4 !important;
            padding: 12px;
            font-weight: 500;
            font-size: 16px;

            &:first-child {
                width: 60px;
            }
        }
    }

    tbody {
        tr {
            border-left: 4px solid #ffffff;

            &:hover {
                border-left: 4px solid #1e88e5;
            }

            td {
                border-bottom-width: 0;
                border-top: 1px solid #dee2e6;
                padding: 12px;
                height: 70px;

                h6 {
                    font-size: 14px;
                }

                &:first-child {

                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #1e88e5;
                        color: #ffffff;
                        border-radius: 50%;
                        height: 45px;
                        width: 45px;
                    }
                }
            }
        }
    }
}